#hero{
    height: 300px;
}
#hero:before{
    height: 300px;
}
.portfolio-keyfeatures .icon{
    height: 3rem;
    width: 3rem;
    margin: 0 auto;
}
.portfolio-keyfeatures .card{
    height: 100%;
    box-shadow: 1px 1px 5px #ddd;
    border: none;
    background: #f5f5f5;
}
.portfolio-video{
    position: relative;
}
.portfolio-title{
    font-size: 22px;
    font-weight: 700;
    margin-bottom: 20px;
    padding-bottom: 20px;
    border-bottom: 1px solid #eee;
}
.video-overlay{
    background: #8f8f8f4f;
    min-height: 200px;
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}
.video-overlay i{
    font-size: 130px;
    color: #ff0000;
}
.video-overlay img{
    width: 150px;
    opacity: .7;
    border-radius: 50%;
}
.verticle-align-center{
    display: flex;
    justify-content: center;
    align-items: center;
}
.portfolio-technology .card{
    height: 100%;
    box-shadow: 1px 1px 5px 1px #eee;
    border: none;
}
.portfolio-technology .card a{
    color: #000;
}
.portfolio-technology .card a:hover .card-title{
    color: #149ddd;
}
.bg-brand{
    background-color: #149ddd;
}